body {
background-color: rgb(0, 0, 0);
}

h1 {
color: rgb(255, 255, 255);
margin-left: 20px;
text-align: center;
font-family: 'impact';
vertical-align: middle;
}


h3 {
color: rgb(255, 255, 255);
margin-left: 20px;
text-align: center;
font-family: impact;
vertical-align: middle;
}

p {
font-family: Arial;
text-align: center;
font-size: 15px;
color: rgb(255, 255, 255);
vertical-align: middle;
}

button {
color: rgb(255, 255, 255)(167, 167, 167);
background-color: white;
font-family: 'Arial';
outline: transparent;
}

link {
color: white;
text-decoration: underline;
font-size: 15px;
font-family: Arial;
text-align: center;
}

text {
color: white;
font-family: Arial;
font-size: 15px;
text-align: center;
vertical-align: middle;
}

a {
color: white;  
font-family: Arial;
font-size: 20px;
text-align: center;
vertical-align: middle;
}

marquee {
color: rgb(187, 255, 180);
font-family: Arial;
font-size: 20px;
}

div {
font-size: 15px;
font-family: Arial;
color: white;
text-align: left;
}

header {
color: white;
font-size: 35px;
background-color: rgb(66, 66, 66);
text-align: left;
font-family: Arial;
}

footer {
color: white;
font-size: 35px;
background-color: rgb(66, 66, 66);
text-align: left;
font-family: Arial;
}
